# SSH Configuration for Mattermost Infrastructure
Port {{ ssh_port }}
Protocol 2

# Authentication
PermitRootLogin yes
PasswordAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys
MaxAuthTries 6
LoginGraceTime 30

# Security settings
X11Forwarding no
AllowTcpForwarding yes
ClientAliveInterval 300
ClientAliveCountMax 2
MaxStartups 10:30:60


# Logging
SyslogFacility AUTH
LogLevel INFO

# Subsystems
Subsystem sftp /usr/lib/openssh/sftp-server
